html {
  font-family: "Sora", Verdana, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FAFAF9;
}

main {
  margin-top: 10.125rem;
}

img.icon {
  padding: 0;
  margin-bottom: 1rem;
}

main > h1 {
  font-size: 2.25rem;
  margin-bottom: 0.75rem;
}

main > p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

ul.checkmarks {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

ul.checkmarks li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.testimonial {
  padding: 2.5rem 1.75rem;
  border-radius: 0.875rem;
  box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
  background-color: #FFFFFF;
  margin-bottom: 2rem;
}

.testimonial-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.testimonial-header > img {
  width: 6rem;
  height: 2rem;
}

.testimonial-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 0.25rem;
}

.testimonial-rating > img {
  width: 1.5rem;
  height: 1.5rem;
}

p.testimonial-author {
  margin-bottom: 0.5rem;
}

p.testimonial-text {
  color: #52525A;
  margin-bottom: 0;
}

/* Tablets and desktop */
@media screen and (min-width: 1024px) {
  .testimonial {
    margin-bottom: 0;
  }

  aside {
    display: grid;
    margin: 0 14.5rem;
    gap: 32px 0;
  }

  #testimonial-1 {

  }

  #testimonial-2 {
    
  }
}

/* Tablets only*/
@media screen and (min-width: 1024px) and (max-width: 1280px) {
}

/* Desktop only */
@media screen and (min-width: 1280px) {
  body {
    display: flex;
    flex-direction: row;
  }
}
